*{
  margin: 0;
  }
body {
 background: radial-gradient(circle, rgba(255,195,222,1) 0%, rgba(255,249,200,1) 100%);
}
hr.line-3  {
 border-top: 4px solid rgb(179, 4, 28);
 margin-top: 20px;
}
.navbar{
   list-style:none ;
   text-align: center;
   margin-right: 40px;
   padding-bottom: 18px;
  }
#navbar-item{
  display: inline;
  padding-left: 70px;
  padding-right: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navbar-item a{
text-decoration-line: none;
color:black;
letter-spacing: 2px;
}
#Heading2{
  padding:10px;
  width:15em;
  margin:20px;
}



  #center{
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2em;
  text-align: center;
}



.band {
  width: 85%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
  
  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }


.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;}

  
  
  article{
    padding: 20px;
    flex: 1;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h1{
    font-size: 1.4em;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
  } 
h2{
  font-size:1.2em;
  font-family:'Raleway', sans-serif;
  text-align: center;
}
.center {
display: block;
  margin:auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:50px;
  padding-top:25px;
}
.fa {
  padding: 30px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.fa a{
  text-decoration-line: none;
}
.fa:hover {
  opacity: 0.7;
}
footer{
  background-color: white;
  text-align: center;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: #3B5998;
}

/* Twitter */
.fa-twitter {
  color: #55ACEE;
}
.fa-instagram{
  color:rgb(240, 15, 128);
}
.fa-linkedin{
  color:#3B5998;
}
.fa-spotify{
  color:green;
}
.fa-github{
  color:black;
}
h6{
  font-family: 'EB Garamond', serif;
  font-size: 2.8em;
  letter-spacing: 2px;
  padding-top: 0;
  text-align: center;
  padding:5px;
  margin-top: 30px;
  text-decoration-line: underline;
  text-decoration-color: blue;
  text-decoration-style: wavy;
}
#gallery {
   line-height:0;
   -webkit-column-count:2; /* split it into 5 columns */
   -webkit-column-gap:2px; /* give it a 5px gap between columns */
   -moz-column-count:2;
   -moz-column-gap:2px;
   column-count:2;
   column-gap:2px;
   
}
#gallery img {
   width: 95% !important;
   height: auto !important;
   margin-bottom:25px; /* to match column gap */
   text-align: center;
}
@media (max-width: 1200px) {
   #gallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
   }
}
@media (max-width: 1000px) {
   #gallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
   }
}
@media (max-width: 800px) {
   #gallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
   }
}
@media (max-width: 400px) {
   #gallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
   }
}
#gallery img:hover {
   filter:none;
}
#end{
  font-size: 10px;
  padding:15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}